//Container
.container {
  max-width: $max-width;
  margin: auto;
  overflow: hidden;
  padding: 0 2rem;
}

.btn {
  padding: 10px 20px;
  margin: 10px 0;
  border: none;
  display: inline-block;
  border-radius: 5px;
  text-decoration: none;
  font-size: 1.6rem;
  font-weight: 700;
  color: #fff;
  &:hover {
    cursor: pointer;
  }

  &-yellow {
    background-color: $yellow;
    color: #000;

    &:hover {
      background-color: darken($yellow, 8);
    }
  }
}
