$primary: #3a0000;
$secondary: #5e0409;
$ternary: #7f0001;
$danger: #a81620;
$white: #ffffff;
$grey: #979c9c;
$blue: #348899;
$dark-grey: #343642;
$yellow: rgb(255, 178, 15);
$purple: #962d3e;
$dark: #000000;

$roboto: "Roboto", sans-serif;
$max-width: 1100px;
