* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap");
@import "variables";
@import "utilities";

body {
  font-family: $roboto;
  overflow-y: auto;
}
.wrapper {
  width: 100%;
  min-height: 100vh;
  background-color: $dark;
}

nav {
  //   background-color: $danger;
  padding: 10px 0;
  color: #fff;
  .navbar {
    &-toggler {
      display: none;
    }
    display: flex;
    justify-content: space-between;
    align-items: center;

    .brand img {
      width: 60px;
    }

    ul {
      list-style: none;
      display: flex;
      li {
        margin: 0 10px;
        a {
          text-decoration: none;
          color: $white;
          font-size: 1.3rem;
          font-weight: 400;

          &:hover {
            border-bottom: 5px solid $yellow;
          }

          &.active {
            border-bottom: 5px solid $yellow;
          }
        }
      }
    }
  }
}

.social-box {
  position: fixed;
  width: 50px;
  height: 300px;
  bottom: 0;
  z-index: 100;

  ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    left: -20%;

    li {
      padding: 5px 0;
      a {
        text-decoration: none;
        color: #fff;
        font-size: 1.3rem;
      }
    }
  }
  .line {
    background-color: $danger;
    width: 2px;
    height: 100%;
  }
}

.scroll {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  position: fixed;
  bottom: 50px;
  right: 50px;
  width: 40px;
  height: 40px;
  background: $yellow;
  font-size: 1.5rem;
  border-radius: 50%;
  z-index: 100;

  &:hover {
    cursor: pointer;
  }
}

.about {
  display: flex;
  justify-content: center;
  align-items: center;

  &-box {
    position: relative;
    width: 800px;
    height: 400px;
    margin: 80px 0;
    background: lighten($dark, 5);

    .top {
      &-line {
        position: absolute;
        top: -7px;
        right: -7px;
        width: 100%;
        height: 100%;
        background-color: $danger;
        -webkit-clip-path: polygon(
          100% 0,
          100% 46%,
          98% 40%,
          98% 4%,
          43% 4%,
          38% 0
        );
        clip-path: polygon(100% 0, 100% 50%, 98% 46%, 98% 4%, 43% 4%, 38% 0);
      }
      &-white-line {
        position: absolute;
        background-color: $white;
        left: 25%;
        width: 70%;
        height: 2px;
      }
    }

    .bottom {
      &-line {
        position: absolute;
        bottom: 0;
        left: -7px;
        width: 100%;
        height: 100%;
        background-color: $danger;
        color: #fff;

        -webkit-clip-path: polygon(
          80% 100%,
          75% 96%,
          2% 96%,
          2% 51%,
          0 47%,
          0 100%
        );
        clip-path: polygon(65% 100%, 60% 96%, 2% 96%, 2% 51%, 0 47%, 0 100%);
      }
      &-white-line {
        position: absolute;
        background-color: $white;
        bottom: 7px;
        left: 25%;
        width: 55%;
        height: 2px;
      }
    }
  }

  .content {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

    &-text {
      width: 80%;
      height: 60%;

      h1 {
        color: $yellow;
        font-size: 3rem;
        font-weight: 900;
      }

      h3 {
        color: $grey;
        font-size: 1.5rem;
        font-weight: 900;
        margin-bottom: 20px;
      }
      p {
        font-size: 1.5rem;
        margin-top: 10px;
        color: $white;
      }
    }
  }
}

.cover {
  width: 100%;
  margin: 80px 0;
  display: flex;
  justify-content: center;
  align-items: center;

  &-box {
    position: relative;
    width: 800px;
    height: 400px;
    background: lighten($dark, 5);
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }

  .middle-line {
    height: 100%;
    width: 20px;
    background-color: $danger;
    position: absolute;
    left: 48%;
  }

  .top-triangle {
    background-color: $danger;
    width: 100px;
    height: 100px;
    position: absolute;
    z-index: 5;
    -webkit-clip-path: polygon(0 0, 0% 100%, 100% 0);
    clip-path: polygon(0 0, 0% 100%, 100% 0);
    top: 0;
    left: 0;
  }

  .bottom-triangle {
    background-color: $danger;
    width: 100px;
    height: 100px;
    position: absolute;
    z-index: 5;
    -webkit-clip-path: polygon(100% 100%, 0% 100%, 100% 0);
    clip-path: polygon(100% 100%, 0% 100%, 100% 0);
    bottom: 0;
    right: 0;
  }

  &-content {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    color: #fff;
    div {
      padding: 20px;

      h3 {
        color: $yellow;
        font-size: 3rem;
      }
      p {
        margin: 10px 0;
        font-size: 1.1rem;
        line-height: 1.4;
      }
    }
  }
}

.projects {
  width: 100%;
  min-height: 100vh;
  background-color: lighten($dark, 9);
  padding: 20px;

  &-header {
    width: 60%;
    margin: 0 auto;
  }

  &-title {
    text-align: center;
    color: $yellow;
    font-weight: 700;
    font-size: 2rem;
    margin-top: 30px;
    padding-bottom: 10px;
    border-bottom: 2px solid $danger;
  }

  &-cards {
    display: grid;
    grid-template-columns: 1fr;
    margin: 40px 0;
  }

  .project {
    &-card {
      margin: 60px 0;
      width: 100%;
      height: 350px;
      padding: 20px;
      display: grid;

      a div {
        width: 100%;
        height: 100%;
        border-radius: 10px;
        &:hover {
          border: 2px solid $blue;
        }
      }
      &:nth-child(even) {
        grid-template-columns: 40% 60%;
      }

      &:nth-child(odd) {
        grid-template-columns: 40% 60%;
        grid-auto-flow: dense;
        direction: rtl;

        .project-description {
          grid-auto-flow: column;
          direction: ltr;
          text-align: right;
        }
      }
    }
    &-title {
      margin: 20px 0;
      font-size: 1.4rem;
      color: $yellow;
    }

    &-tech {
      ul {
        position: relative;
        list-style: none;
        display: flex;
        li {
          margin: 20px 10px;

          color: #fff;
          font-size: 0.8rem;
        }
      }
    }

    &-description {
      position: relative;
      border-radius: 10px;
      background-color: $dark;
      border: 2px solid $blue;
      margin-top: 40px;
      padding: 30px;
      width: 500px;
      height: 150px;
      color: #fff;
      display: flex;
      align-items: center;
      font-size: 0.9rem;
      line-height: 1.6;
    }
  }
}

.experiences {
  min-height: 100vh;
  width: 100%;
  margin: 40px 0;

  &-header {
    font-size: 2.3rem;
    color: $yellow;
    padding: 20px;
    border-bottom: 2px solid $danger;
  }

  .experience {
    max-width: 750px;
    margin: 40px auto;
    color: #fff;

    &-title {
      font-size: 1.2rem;
      color: $yellow;
      .position {
        color: #fff;
      }
    }

    &-dates {
      font-size: 0.9rem;
      color: $danger;
    }

    &-content {
      margin: 30px 0;
    }

    &-list {
      list-style: none;

      li {
        margin: 20px 0;
        font-weight: 400;
        font-size: 0.9rem;
        line-height: 1.5;
      }
      .icon {
        margin-right: 5px;
        color: $yellow;
      }
    }

    &-divider {
      max-width: 150px;
      height: 2px;
      background-color: $danger;
    }
  }
}

.contact {
  margin: 40px;

  &-header {
    color: #fff;
    text-align: center;
    max-width: 600px;
    margin: 40px auto;

    .title {
      font-size: 2rem;
      margin: 10px;
    }
  }

  &-form {
    max-width: 700px;
    margin: 0 auto;
    padding: 10px;
    form {
      display: flex;
      flex-direction: column;
      width: 100%;

      input,
      textarea {
        margin: 10px 0;
        border-radius: 10px;
        padding: 20px 10px;
        outline: none;
        border: none;

        &::placeholder {
          font-size: 1.2rem;
        }
      }
    }

    .btn {
      text-align: center;
    }
  }
}
@import "mobile";
